<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @term.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @term.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @term.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @term.end_date %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @term.created_by ? @term.created_by.email : nil %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @term.updated_by ? @term.updated_by.email : nil  %>
</p>

<%= link_to 'Edit', edit_term_path(@term) %> |
<%= link_to 'Back', terms_path %>
